header {
  min-height: 100vh;
  background: linear-gradient(rgba(200, 100, 0, 0.8), rgba(200, 100, 0, 0.6)),
    url(../../img/backgroundimg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.1px solid;
  position: relative;

  @media only screen and (max-width: 1300px) {
    min-height: 35rem;
  }

  @media only screen and (max-width: 950px) {
    min-height: 28rem;
  }

  @media only screen and (max-width: 650px) {
    min-height: 19rem;
  }
}

.header {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 72.5rem;
    max-width: 92%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    margin: 3rem auto 0;

    @media only screen and (max-width: 950px) {
      margin: 4rem auto 0;
      line-height: 5.5rem;
    }

    @media only screen and (max-width: 650px) {
      grid-template-columns: none;
      justify-items: center;
      text-align: center;
      line-height: 3.5rem;
      top: 50%;
    }
  }

  &__title {
    font-size: 4.7vmax;
    color: #fff;
    letter-spacing: 2px;
    margin-top: -4rem;
    font-family: "Pacifico", cursive;
    font-weight: 300;

    @media only screen and (max-width: 950px) {
      font-size: 2.4rem;
    }

    @media only screen and (max-width: 650px) {
      font-size: 2rem;
      line-height: 4rem;
    }

    span {
      display: block;
      margin-top: -1.5rem;
    }

    i {
      color: $color-primary;
    }
  }

  &__btn {
    border: none;
    outline: none;
    margin-top: 1rem;
    border-radius: 5rem;

    a {
      font-size: 2vmax;
      padding: 0.2rem 2rem;
      border-radius: 5rem;
      color: #fff;
      background-color: $color-primary;
      box-shadow: 0 0.2rem 0rem rgba(255, 140, 0, 0.7);
      font-family: "Pacifico", cursive;
      transition: transform 0.3s;
      display: inline-block;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.7);
      }
    }
  }

  &__image {
    margin-right: -10%;

    @media only screen and (max-width: 650px) {
      display: none;
    }
  }
}
