#portfolio {
  padding: 6rem 6rem;
  background-color: $color-section-bacground-2;

  @media only screen and (max-width: 46.875em) {
    padding: 6rem 6%;
  }
}

.portfolio {
  &__container {
    height: 25rem;
    display: grid;
    grid-template-columns: repeat(6, 48.5%);
    align-items: center;
    grid-column-gap: 3%;
    overflow: hidden;
    padding: 1.5rem 1rem;
    background-color: $color-section-bacground-2;

    @media only screen and (max-width: 56.25em) {
      grid-template-columns: repeat(6, 100%);
      grid-column-gap: 0;
      padding: 1.5rem 0;
    }

    &:hover > div {
      animation-play-state: paused;
    }
  }

  &__box {
    height: 100%;
    position: relative;
    border-radius: 0.3rem;
    overflow: hidden;
    animation: animate 8s linear infinite alternate;

    @media only screen and (max-width: 56.25em) {
      animation: animateSmScreen 8s linear infinite alternate;
    }

    img {
      position: absolute;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    z-index: 5;
    background-color: orange;
    padding: 0.2rem 0.5rem;
    color: #fff;
  }
}

@keyframes animate {
  0%,
  18% {
    transform: translateX(0%);
  }
  20%,
  38% {
    transform: translateX(calc(-100% + -6%));
  }
  40%,
  58% {
    transform: translateX(calc(-200% + -12%));
  }
  60%,
  78% {
    transform: translateX(calc(-300% + -18%));
  }
  80%,
  100% {
    transform: translateX(calc(-400% + -24%));
  }
}

@keyframes animateSmScreen {
  0%,
  18% {
    transform: translateX(0%);
  }
  20%,
  38% {
    transform: translateX(-100%);
  }
  40%,
  58% {
    transform: translateX(-200%);
  }
  60%,
  78% {
    transform: translateX(-300%);
  }
  80%,
  100% {
    transform: translateX(-400%);
  }
}
