* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #aaa;
  line-height: 1.7;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: 100% 100%;
     object-fit: 100% 100%;
  -o-object-position: center;
     object-position: center;
}

a {
  text-decoration: none;
  color: #fff;
}

figure {
  width: 10rem;
  height: 10rem;
}

#about {
  padding: 6rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(200, 200, 200, 0.2);
  overflow: hidden;
}

.about__container {
  width: 54rem;
  max-width: 95%;
}

.about__text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  opacity: 0;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

@media only screen and (max-width: 62.5em) {
  .about__text {
    text-align: justify;
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .about__text {
    padding: 0 1.5rem;
  }
}

.about__title {
  font-size: 2rem;
  color: orange;
}

@media only screen and (max-width: 62.5em) {
  .about__title {
    text-align: center;
    font-size: 2.5rem;
  }
}

.about__title span {
  color: #f00000;
}

.about__image {
  height: 25rem;
  width: 25rem;
  float: left;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  margin-right: 1.5rem;
  -webkit-filter: hue-rotate(220deg);
          filter: hue-rotate(220deg);
  opacity: 0;
  -webkit-transform: translateX(-10rem);
          transform: translateX(-10rem);
}

@media only screen and (max-width: 62.5em) {
  .about__image {
    display: none;
  }
}

.aboutAnimate {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#contact {
  padding: 4rem 2rem;
  background-color: rgba(240, 240, 240, 0.2);
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  opacity: 0;
}

.contact__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__address:nth-child(2), .contact__address:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact__img {
  width: 2.2rem;
  -webkit-filter: hue-rotate(200deg);
          filter: hue-rotate(200deg);
}

.contact__detail {
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.contactAnimate {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 100, 0, 0.8)), to(rgba(200, 100, 0, 0.6))), url(../../img/backgroundimg1.jpg);
  background: linear-gradient(rgba(200, 100, 0, 0.8), rgba(200, 100, 0, 0.6)), url(../../img/backgroundimg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.1px solid;
}

.header__content {
  height: 50vh;
  margin: 15rem 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .header__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 5rem;
    margin: 11rem 4rem 0;
  }
}

@media only screen and (max-width: 25em) {
  .header__content {
    margin-top: 13rem;
  }
}

.header__content > * {
  width: 40rem;
}

.header__title {
  font-size: 4.7vmax;
  color: #fff;
  letter-spacing: 2px;
  margin-top: -4rem;
  font-family: "Pacifico", cursive;
  font-weight: 300;
}

@media only screen and (max-width: 56.25em) {
  .header__title {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.2;
  }
}

@media only screen and (max-width: 25em) {
  .header__title {
    font-size: 1.5rem;
  }
}

.header__title span {
  display: block;
  margin-top: -1.5rem;
}

.header__title i {
  color: rgba(255, 166, 0, 0.925);
}

.header__image {
  margin-right: -4rem;
}

@media only screen and (max-width: 56.25em) {
  .header__image {
    width: 22rem;
    border: 1px solid;
    border-radius: 3px;
    margin-left: -3.5rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 25em) {
  .header__image {
    width: 15rem;
  }
}

.header__image img {
  -webkit-filter: hue-rotate(20deg);
          filter: hue-rotate(20deg);
  -o-object-fit: cover;
     object-fit: cover;
}

.header__btn {
  font-size: 2.2vmax;
  padding: 0 2.2rem;
  border-radius: 5rem;
  color: #fff;
  border: none;
  background-color: rgba(255, 166, 0, 0.925);
  -webkit-box-shadow: 0 0.2rem 0rem rgba(255, 140, 0, 0.7);
          box-shadow: 0 0.2rem 0rem rgba(255, 140, 0, 0.7);
  margin-top: 1rem;
  font-family: "Pacifico", cursive;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  outline: none;
}

@media only screen and (max-width: 56.25em) {
  .header__btn {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 25em) {
  .header__btn {
    bottom: 0;
  }
}

.header__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 56.25em) {
  .header__btn:hover {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }
}

.header__btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

@media only screen and (max-width: 56.25em) {
  .header__btn:active {
    -webkit-transform: translateX(-50%) scale(0.8);
            transform: translateX(-50%) scale(0.8);
  }
}

#footer {
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(200, 200, 200, 0.2);
}

.nav {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

.nav__logo {
  font-size: 1.6rem;
  color: #fff;
  padding-left: 6rem;
}

@media only screen and (max-width: 53.125em) {
  .nav__logo {
    padding-left: 1rem;
  }
}

.nav__items {
  padding-right: 6rem;
}

@media only screen and (max-width: 53.125em) {
  .nav__items {
    display: none;
    position: absolute;
    top: 6rem;
    right: 0.5rem;
    padding-right: 0;
    z-index: 1000;
  }
}

.nav__link {
  display: inline-block;
  margin-left: 2rem;
  margin-top: 1.2rem;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 53.125em) {
  .nav__link {
    display: block;
    background-color: rgba(255, 166, 0, 0.925);
    margin-top: 0;
    margin-left: 0;
    padding: 0.2rem 1rem;
    text-align: center;
    border-radius: 3px;
  }
}

.nav__link:hover {
  border-bottom: 2px solid rgba(255, 166, 0, 0.925);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav__link:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.nav__btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.06), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.06);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.06), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.06);
  display: none;
}

@media only screen and (max-width: 53.125em) {
  .nav__btn {
    display: block;
  }
}

.nav__btn i.fas {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.7rem;
  color: rgba(255, 166, 0, 0.925);
}

.nav__btn i.fas:nth-child(2) {
  visibility: hidden;
}

.navBg {
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0;
}

#portfolio {
  padding: 6rem 6rem;
  background-color: rgba(200, 200, 200, 0.2);
}

@media only screen and (max-width: 46.875em) {
  #portfolio {
    padding: 6rem 6%;
  }
}

.portfolio__container {
  height: 25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (48.5%)[6];
      grid-template-columns: repeat(6, 48.5%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 3%;
  overflow: hidden;
  padding: 1.5rem 1rem;
  background-color: rgba(200, 200, 200, 0.2);
}

@media only screen and (max-width: 56.25em) {
  .portfolio__container {
    -ms-grid-columns: (100%)[6];
        grid-template-columns: repeat(6, 100%);
    grid-column-gap: 0;
    padding: 1.5rem 0;
  }
}

@media only screen and (max-width: 25em) {
  .portfolio__container {
    height: 20rem;
  }
}

.portfolio__container:hover > div {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.portfolio__box {
  height: 100%;
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
  -webkit-animation: animate 8s linear infinite alternate;
          animation: animate 8s linear infinite alternate;
}

@media only screen and (max-width: 56.25em) {
  .portfolio__box {
    -webkit-animation: animateSmScreen 8s linear infinite alternate;
            animation: animateSmScreen 8s linear infinite alternate;
  }
}

.portfolio__box img {
  position: absolute;
}

.portfolio__title {
  position: absolute;
  bottom: 0;
  z-index: 5;
  background-color: orange;
  padding: 0.2rem 0.5rem;
  color: #fff;
}

@-webkit-keyframes animate {
  0%,
  18% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20%,
  38% {
    -webkit-transform: translateX(calc(-100% + -6%));
            transform: translateX(calc(-100% + -6%));
  }
  40%,
  58% {
    -webkit-transform: translateX(calc(-200% + -12%));
            transform: translateX(calc(-200% + -12%));
  }
  60%,
  78% {
    -webkit-transform: translateX(calc(-300% + -18%));
            transform: translateX(calc(-300% + -18%));
  }
  80%,
  100% {
    -webkit-transform: translateX(calc(-400% + -24%));
            transform: translateX(calc(-400% + -24%));
  }
}

@keyframes animate {
  0%,
  18% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20%,
  38% {
    -webkit-transform: translateX(calc(-100% + -6%));
            transform: translateX(calc(-100% + -6%));
  }
  40%,
  58% {
    -webkit-transform: translateX(calc(-200% + -12%));
            transform: translateX(calc(-200% + -12%));
  }
  60%,
  78% {
    -webkit-transform: translateX(calc(-300% + -18%));
            transform: translateX(calc(-300% + -18%));
  }
  80%,
  100% {
    -webkit-transform: translateX(calc(-400% + -24%));
            transform: translateX(calc(-400% + -24%));
  }
}

@-webkit-keyframes animateSmScreen {
  0%,
  18% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20%,
  38% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40%,
  58% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  60%,
  78% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  80%,
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
}

@keyframes animateSmScreen {
  0%,
  18% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  20%,
  38% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  40%,
  58% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  60%,
  78% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  80%,
  100% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
}

#services {
  min-height: 100vh;
  background-color: rgba(240, 240, 240, 0.2);
  padding: 3rem 4vmax;
  overflow-y: hidden;
}

.services__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media only screen and (max-width: 68.75em) {
  .services__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 46.875em) {
  .services__container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.services__box {
  border: 4px solid orange;
  width: 20rem;
  height: 20rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(30rem);
          transform: translateY(30rem);
}

.services__box--2 {
  margin: 3rem 0;
}

@media only screen and (max-width: 68.75em) {
  .services__box--2 {
    margin-top: 10rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .services__box--2 {
    margin-top: 4rem;
    margin-bottom: 14rem;
  }
}

@media only screen and (max-width: 68.75em) {
  .services__box--3 {
    margin-top: -10rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .services__box--3 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.services__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 9rem;
  width: 9rem;
}

.services__name {
  width: 108%;
  position: absolute;
  bottom: 0;
  left: -4%;
  font-size: 1.4rem;
  padding: 0.5rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: orange;
  border-radius: 0.3rem;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.services__detail {
  position: relative;
  z-index: 5;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.6rem;
  height: 100%;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  text-align: center;
}

.serviceAnimate {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section__title {
  font-size: 2.5rem;
  text-align: center;
  color: orange;
}

.section__title span {
  color: #f00000;
}

.section__caption {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  margin-top: -0.5rem;
}
/*# sourceMappingURL=main.css.map */